# Data manipulation
pandas
numpy

# Visualization
matplotlib
seaborn
plotly

# Machine Learning / Statistics
scikit-learn
statsmodels
prophet

# Deep Learning
tensorflow
pytorch
transformers

# Time series and forecasting

# Jupyter
ipykernel
jupyter

# Web / Dashboard
streamlit